
<div class="row showEquipmentRow"  :equipNo="item.equipNo" v-for="item in loadData.slice(startNum,endNum)">
    <div class="equipImg col-lg-3 hidden-md hidden-sm hidden-xs" >
        <h4>类别：{{item.equipName}}</h4>
        <img class="thumbnail" :src='item.equipImage' width="280px" height="180px" alt="">
    </div>
    <div class="equipInfo col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="">
            <table class="table row table-striped table-bordered">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>编号</th>
                    <th>数量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">气体传感器</a></td>
                    <td>Rammohan</td>
                    <td>Reddy</td>
                </tr>
                <tr>
                    <td><a href="#">重力传感器</a></td>
                    <td>Smita</td>
                    <td>Pallod</td>
                </tr>
                <tr>
                    <td><a href="#">温度传感器</a></td>
                    <td>Rabindranath</td>
                    <td>Sen</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

